<h1>New User</h1>

<form action="<%= users_url %>" method="post">
  <%= csrf_input %>
  <label>username
    <input type="text" name="users[username]" value="">
  </label>
  
  <label>password
    <input type="password" name="users[password]" value="">
  </label>

  <input type="submit" value="Create User">
</form>
